---
import { links } from "@/globals/utils/links"
---

    <div class="flex flex-col">
            <h5 class="text-xl mb-1">Contenido</h5>
            <ul class="flex flex-col [&>li]:py-0.5">
                {
                    links.map((link) => (
                        <li>
                            <a href={link.href} class="cursor-pointer duration-300 hover:opacity-75 hover:underline">{link.label}</a>
                        </li>
                    ))
                }
            </ul>
    </div>