---
import CheckItem from "@/globals/components/atoms/CheckItem.astro";
import DetailCardList from "../atoms/detailCardList.astro";
---

<section class="flex flex-col py-16 bg-secondary" id="beneficios">
    <div class="container mx-auto">
        <div class="flex flex-col mb-4 xl:max-w-2/4">
            <h2 class="text-2xl lg:text-4xl mb-2">Beneficios</h2>
            <p class="text-muted-foreground">Tecnología inteligente, seguridad real y gestión sin fricciones.
            Securi Club redefine la experiencia en edificios: menos costos, más control y todo al alcance de tu celular.</p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3  gap-4">
            <DetailCardList title="Administradores">
                <CheckItem>Reducí hasta 50% los costos</CheckItem>
                <CheckItem>Gestión centralizada y transparente</CheckItem>
                <CheckItem>Auditoría 24/7 de accesos</CheckItem>
            </DetailCardList>
            <DetailCardList title="Desarrolladores">
                <CheckItem>Diferenciá tus proyectos con IA & biometría</CheckItem>
                <CheckItem>Amenity digital premium que acelera ventas</CheckItem>
                <CheckItem>Menor costo operativo del consorcio</CheckItem>
            </DetailCardList>
            <DetailCardList title="Propietarios">
                <CheckItem>Seguridad real y sin llaves</CheckItem>
                <CheckItem>Control de visitas y paquetería segura</CheckItem>
                <CheckItem>Reservas y expensas en una app</CheckItem>
            </DetailCardList>
        </div>
    </div>
 </section>
