---
import { Button } from "@/globals/components/ui/button";
import ContactForm from "@/modules/contactForm/components/organisms/ContactForm";

const mensaje = "¡Hola! Me comunico desde su sitio web. Deseo solicitar una demostración de la Portería Autónoma de Securi Club";

---

<section class="bg-secondary py-20" id="contacto">

    <div class="container mx-auto flex flex-col gap-4 justify-center items-center">
       
        <div class="flex flex-col text-center items-center mb-4">
            <h3 class="text-2xl lg:text-4xl mb-2">Solicitá tu demo</h3>
            <p class="mb-2 text-muted-foreground">Completá el formulario y un asesor te contactará. También podés escribirnos por WhatsApp.</p>
            <a href={`https://wa.me/${import.meta.env.PUBLIC_WHATSAPP_NUMBER}?text=${decodeURIComponent(mensaje)}`} target="_blank" rel="noopener noreferrer">
            <Button size={"lg"}  className="w-fit cursor-pointer">Hablar por WhatsApp</Button>
            </a>
        </div>

        <div class="flex flex-col">
            <ContactForm client:load />
            <p class="mt-6 text-sm text-center">Al enviar este formulario aceptás ser contactado por Securi Club. No compartimos tus datos con terceros.</p>
        </div>
        
    </div>


</section>