---
import LiteYouTubeEmbed from 'react-lite-youtube-embed';
import 'react-lite-youtube-embed/dist/LiteYouTubeEmbed.css';
---

<section class="bg-background py-16 px-4">

    <div class="flex flex-col container mx-auto bg-white rounded-2xl">
        <div class="flex flex-col mb-4 xl:max-w-4/6">
            <h2 class="text-2xl lg:text-4xl mb-2">Acceso Total al Instante</h2>
            <p class="lg:w-3/4 text-muted-foreground">Mira la demo y descubre cómo gestionar el acceso facial, códigos QR para invitados, la recepción de paquetes seguros y las reservas, todo desde tu móvil y en segundos.</p>
        </div>
        
         <LiteYouTubeEmbed
         client:load
         activatedClass='lyt-activated'
         wrapperClass='yt-lite rounded-xl'
         aspectHeight={8}
         title='Descubre FullCond: La Solución Integral para la Gestión de Condominios'
        id="1Hhs6TqKLxc"
        />
    </div>
    

</section>