---
---

<section class="bg-secondary">

    <div class="flex flex-col container mx-auto">
        <div class="flex flex-col">
            <h2 class="text-3xl">Mirá la demo</h2>
            <p>Acceso facial, QR para invitados, paquetería segura y reservas en segundos.</p>
        </div>
        
        <div class="shadow-2xl rounded-2xl bg-secondary h-[70vh] mt-4">
        <!-- PLACEHOLDER -->
         </div>
    </div>
    

</section>