---
import { links } from "@/globals/utils/links"
import FooterLinks from "@/globals/components/molecules/FooterLinks.astro";

---


<footer class="w-screen bg-card border-[1px]">
    <div class="container mx-auto py-20! grid grid-cols-3 gap-4">
        
        <div class="flex flex-col col-span-2">
            <img src="/logo.png" class="size-24" />  
        </div>

      <FooterLinks />
    
    </div>
    <div class="w-full border-t-[1px] container mx-auto flex flex-col">
        <p>© 2025 Securi Club. Todos los derechos reservados</p>
        <a class="hover:text-blue-500 cursor-pointer duration-300" >Desarrollado por Googlobal AI</a>
    </div>
</footer>