---
import FooterLinks from "@/globals/components/molecules/FooterLinks.astro";

const currentYear = new Date().getFullYear();
---

<footer class="w-screen bg-secondary border-t-[1px]">
    <div class="container mx-auto py-20! grid grid-cols-1 sm:grid-cols-3 gap-4">
        
        <div class="flex flex-col sm:col-span-2 mb-4">
            <img src="/logo.png" alt="Logo de Securi Club" class="size-16 lg:size-24" loading="lazy" />  
        </div>

      <FooterLinks />
    
    </div>
    <div class="w-full border-t-[1px] container mx-auto flex flex-col">
        <p>© {currentYear} Securi Club. Todos los derechos reservados</p>
        <a href="https://www.googlobal.com" class="hover:text-blue-500 cursor-pointer duration-300" target="_blank" rel="noopener noreferrer">Desarrollado por Googlobal AI</a>
    </div>
</footer>