---
import Footer from "@/globals/components/organisms/footer.astro";
import Header from "@/globals/components/organisms/Header";
import "@fontsource-variable/inter"
import "@/styles/global.css";
import Analytics from '@vercel/analytics/astro'
---
<!doctype html>
<html lang="es" class="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Securi Club | Portería Autónoma</title>
		<meta name="description" content="Securi Club digitaliza tu edificio con portería autónoma 24/7, acceso facial y gestión completa desde una app. Más seguridad, menos costos." />
	</head>
	<Header client:load />
	<body>
		<slot />
	</body>
	<Analytics/>
	<Footer />
</html>

<style>
	*{
		font-family: 'Inter Variable', sans-serif;
	}

</style>


